@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    place-content: center;
    margin: 0;
}

:root {
    --color-primary: #F5c516;
    --color-secondary: #5A5A5A;
}

.container-center {
    width: 100%;
    margin: auto;
}

.headingDiv {
    background-color: var(--color-primary);
    padding: 2rem 0rem;
    margin: auto;
    width: 100%;
    margin-bottom: 1.5rem;

}

.heading {
    color: var(--color-secondary);
    text-align: center;
    display: inline-block;
    width: 87%;
    margin: auto;
}

.head-img {
    width: 5%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 2rem;
}


#txt-input {
    border: 1px solid black;
    margin: auto;
    padding: 1rem;
    height: 10vh;
    width: 60%;
    border-radius: 1rem;
    border: 2px solid var(--color-secondary);
    color: var(--color-primary);
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}

#btn-translate {
    display: block;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-secondary);
    background-color: white;
    margin: auto;
    margin-top: 1rem;
}

#btn-translate:hover {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
}

.output-show {
    text-align: center;
    margin: 1.7rem 0rem;
    color: var(--color-primary);
    font-weight: 600;
}

#output {
    border: 1px solid black;
    margin: auto;
    padding: 1rem;
    height: 10vh;
    width: 60%;
    border-radius: 1rem;
    border: 2px solid var(--color-secondary);
    color: var(--color-primary);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.footer {
    background-color: var(--color-primary);
    padding: 2rem 0rem;
    margin: auto;
    width: 100%;
}

.footer-heading {
    text-align: center;
    color: var(--color-secondary);
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 0.7rem;

}

.footer-text {
    color: var(--color-secondary);
    padding: 0rem 1rem;
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: large;

}